@implements IDisposable

@inject NavigationManager NavigationManager
<MudPaper Width="250px" Class="d-inline-flex py-3" Elevation="0">
    <MudNavMenu Class="mud-width-full">

        <MudDivider Class="my-2" />
        <AuthorizeView>
            <Authorized>
                <MudNavGroup Class="text" Title="Adminstration" Icon="@Icons.Material.Filled.Person" IconColor="Color.Inherit" Expanded="false">
                    <MudNavLink Href="/admin/manageprograms" Icon="@Icons.Material.Filled.Home" IconColor="Color.Inherit">Programs</MudNavLink>
                    <MudNavLink Href="/studenteditlist" Icon="@Icons.Material.Filled.School" IconColor="Color.Inherit">Admission</MudNavLink>
                    <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.MenuBook" IconColor="Color.Inherit">Curriculum</MudNavLink>
                    <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.Security" IconColor="Color.Inherit">Sheduling</MudNavLink>
                    <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.Security" IconColor="Color.Inherit">Examination</MudNavLink>
                    <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.Security" IconColor="Color.Inherit">Transcripts</MudNavLink>
                </MudNavGroup>
            </Authorized>
        </AuthorizeView>
        <MudNavGroup Title="Academic" Icon="@Icons.Material.Filled.LibraryBooks" Expanded="false">
            <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.People" IconColor="Color.Inherit">Modules</MudNavLink>
            <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.People" IconColor="Color.Inherit">Evaluations</MudNavLink>
            <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.Security" IconColor="Color.Inherit">Results</MudNavLink>
            <MudNavLink Href="/register" Icon="@Icons.Material.Filled.People" IconColor="Color.Inherit">Requests</MudNavLink>
            <MudNavLink Href="/register" Icon="@Icons.Material.Filled.People" IconColor="Color.Inherit">Mentering</MudNavLink>
        </MudNavGroup>

        <MudNavGroup Title="Students" Icon="@Icons.Material.Filled.PeopleOutline" Expanded="false">
            <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.People" IconColor="Color.Inherit">Registration</MudNavLink>
            <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.People" IconColor="Color.Inherit">Mentering</MudNavLink>
            <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.Security" IconColor="Color.Inherit">Requests</MudNavLink>
            <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.Security" IconColor="Color.Inherit">Resutls</MudNavLink>
            <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.Security" IconColor="Color.Inherit">Feedbacks</MudNavLink>
        </MudNavGroup>

        <MudNavGroup Title="Department" Icon="@Icons.Material.Filled.PeopleOutline" Expanded="false">
            <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.Schedule" IconColor="Color.Inherit">Sheduling</MudNavLink>
            <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.HighQuality" IconColor="Color.Inherit">Accreditation</MudNavLink>
            <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.Inventory" IconColor="Color.Inherit">Inventory</MudNavLink>
            <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.Science" IconColor="Color.Inherit">Laboratories</MudNavLink>
        </MudNavGroup>

        <MudNavGroup Title="Site Admin" Icon="@Icons.Material.Filled.Settings" Expanded="false">
            <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.People" IconColor="Color.Inherit">Manage Staff</MudNavLink>
            <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.Security" IconColor="Color.Inherit">Manage Students</MudNavLink>
            <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.Security" IconColor="Color.Inherit">Control Panel</MudNavLink>
            <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.Security" IconColor="Color.Inherit">Settings</MudNavLink>

        </MudNavGroup>

        <MudNavGroup Title="Account" Icon="@Icons.Material.Filled.VerifiedUser" Expanded="false">
            <AuthorizeView>
                <Authorized>
                    <MudNavLink Href="/Account/Manage" Icon="@Icons.Material.Filled.People" IconColor="Color.Inherit">@context.User.Identity?.Name</MudNavLink>
                    
                    <MudCard >
                            <div class="nav-item px-3">
                                <form action="Account/Logout" method="post">
                                    <AntiforgeryToken />
                                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                    <button type="submit" class="nav-link">
                                        <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                                    </button>
                                </form>
                            </div>
                    </MudCard>
                       
                </Authorized>
                <NotAuthorized>
                        <MudNavLink Href="/Account/Register" Icon="@Icons.Material.Filled.Security" IconColor="Color.Inherit">Register</MudNavLink>
                        <MudNavLink Href="Account/Login" Icon="@Icons.Material.Filled.Security" IconColor="Color.Inherit">Login</MudNavLink>
                </NotAuthorized>
            </AuthorizeView>

        </MudNavGroup>

        

    </MudNavMenu>
</MudPaper>

    @code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

