@page "/ModuleManagementTabs/{ModuleOfferingId:int}"

@using ERP.Application.AcademicApp.Modules.Interfaces
@using ERP.BlazorUI.Components.Pages.Academic.Components
@using ERP.Domain.Core.Entity
@inject IGetModuleOfferingByIdUseCase GetModuleOfferingByIdUseCase
@inject ISnackbar Snackbar

@if (_moduleOffering != null)
{
    <div class="p-2 mb-3">
        <h3 class="pa-3"> @_moduleOffering.Module.Code @_moduleOffering.Module.Name</h3>
    </div>
    <MudPaper>
        <MudTabs Outlined="true" @ref="tabs">
            <MudTabPanel Text="Assignments" Icon="@Icons.Material.Filled.Assignment" @ref="panel01">
                <DisplayEvaluationList ModuleOfferingId="ModuleOfferingId"></DisplayEvaluationList>
            </MudTabPanel>

            <MudTabPanel Text="Add Assignment" Icon="@Icons.Material.Filled.People" @ref="panel02">
                <CreateEvaluationDialog onAdded="Activate_01" ModuleOfferingId="ModuleOfferingId"></CreateEvaluationDialog>
            </MudTabPanel>
            
            <MudTabPanel Text="Student List" Icon="@Icons.Material.Filled.People" @ref="panel03">
                <DisplayStudentList ModuleOfferingId="ModuleOfferingId"></DisplayStudentList>
                @* Need to display the student registered to this module offering *@
            </MudTabPanel>

            <MudTabPanel Text="Results" Icon="@Icons.Material.Filled.TableView" @ref="panel04">
                <MudCard Class="mb-5">
                    <MudCardContent Style="@($"color:{Colors.Grey.Darken4}; background:{Colors.Grey.Lighten3};")">
                        <div class="d-flex justify-space-around flex-grow-1 gap-1">
                            <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary">Add Marks</MudButton>
                            <MudButton StartIcon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Primary">Edit</MudButton>
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudTabPanel>
        </MudTabs>
    </MudPaper>
}
else
{
    <p>Module offering information not found.</p>
}



@code {
    MudTabs tabs;
    MudTabPanel panel01;
    MudTabPanel panel02;
    MudTabPanel panel03;
    MudTabPanel panel04;

    
    [Parameter]
    public int ModuleOfferingId { get; set; }

    private ModuleOffering? _moduleOffering;

    protected override async Task OnInitializedAsync()
    {
        await LoadModuleOfferingInfoAsync();
    }

    private async Task LoadModuleOfferingInfoAsync()
    {
        try
        {
            _moduleOffering = await GetModuleOfferingByIdUseCase.ExecuteAsync(ModuleOfferingId);
        }
        catch (Exception ex)
        {
            // Handle the exception
            Console.WriteLine($"An error occurred while loading module offering: {ex.Message}");
        }
    }
    
    private async Task RefreshEvaluationsAsync()
    {
        await LoadModuleOfferingInfoAsync();
        StateHasChanged();
    }
    
    private async Task Activate_01()
    {
        
        await RefreshEvaluationsAsync();
        tabs.ActivatePanel(panel01);
        Snackbar.Add("Evaluation Added Successfully", Severity.Success);
    }

}